/* Our CSS values that we'll use in the rest of our styling */
:root {
  --main-bg-color: #69F7BE;
  --main-text-color: #373fff;
}

body {
  font-family: helvetica, arial, sans-serif;
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--main-text-color);
  font-size: 164pt;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-items: left;
}

.content {
  width: clamp(23ch, 50%, 46ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.illustration {
  position: relative;
  bottom: 10em;
}
